* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.chess {
  width: 700px;
  height: 700px;

  margin: 100px auto;
  border: 20px solid gray;
}
table tr:nth-child(odd) td:nth-child(even) {
  background: #000;
}
table tr:nth-child(even) td:nth-child(odd) {
  background: #000;
}
